.git
.gitignore
.DS_Store
README.md

backend/.env
backend/.venv
backend/__pycache__
backend/*.pyc
backend/reportlab/node_modules
backend/prompts/*.zip

frontend/.env
frontend/node_modules
frontend/build

reports
output
